$font: 'Hanken Grotesk', sans-serif;
$font-light: 500;
$font-mid: 700;
$font-bold: 800;
$Primary-Light-red: hsl(0, 100%, 67%);
$Primary-Orangey-yellow: hsl(39, 100%, 56%);
$Primary-Green-teal: hsl(166, 100%, 37%);
$Primary-Cobalt-blue: hsl(234, 85%, 45%);


$Gradients-Light-slate-blue: hsl(252, 100%, 67%);
$Gradients-Light-royal-blue: hsl(241, 81%, 54%);
$Gradients-Violet-blue: hsla(256, 72%, 46%, 1);
$Gradients-Persian-blue: hsla(241, 72%, 46%, 0);


$Neutral-White: hsl(0, 0%, 100%);
$Neutral-Pale-blue: hsl(221, 100%, 96%);
$Neutral-Light-lavender: hsl(241, 100%, 89%);
$Neutral-Dark-gray-blue: hsl(224, 30%, 27%);